<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-8 col-lg-4">
      <div class="form-login">
        <h1><%= image_tag "logo-sloop.png", height: 30, width: 30, alt: "Logo" %> BlablaSloop</h1>
          <h2>S'inscrire</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "E-mail",
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  placeholder: "Mot de passe",
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: "Mot de passe",
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "S'inscrire", class:"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
  </div>
