<div class="banner no_home" style="height: 350px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drgeetoka/image/upload/e_blur:1500/v1724331976/alex-perez-vX29CtVP3jc-unsplash_j6yxac.jpg);">
    <h1>Détails du voyage demandé</h1>
</div>
<br>
<div class="container">
  <%= link_to ride_requests_path do %>
    <i class="avatar fa-solid fa-arrow-left-long"></i>
  <% end %>
  <br>

  <!-- Carte de détails du voyage -->
  <div >
<hr>
      <div class="d-flex align-items-start">

        <% if @riderequest.user.photo.attached? %>
          <%= link_to (cl_image_tag @riderequest.user.photo.key, class: "rounded-circle ms-3", style: "width: 60px; height: 60px;"), user_path(@riderequest.user) %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "rounded-circle ms-3", style: "width: 60px; height: 60px;" %>
        <% end %>
        <div>
          <h5 class=" ms-3"><%= @riderequest.user.first_name %> <%= @riderequest.user.last_name %></h5>
          <p class=" ms-3 ">Utilisateur.rice</p>
        </div>
      </div>
      <hr>
      <div class="card-body">
      <p class="ms-3"><i class="fa-regular fa-comment"></i></p>
      <p class="card-text ms-3"><%= @riderequest.details %></p>

    <br>
      <!-- Informations utilisateur -->
      
    <div class="travel_info">
      <span><i class="fa-solid fa-play"></i> <%= @riderequest.start_port %></span>
      <span><%= l(@riderequest.start_date, format: '%d/%m/%Y') %></span>
    </div>
    <div class="travel_info">
      <span><i class="fa-solid fa-flag-checkered"></i> <%= @riderequest.end_port %></span>
      <span><%= l(@riderequest.end_date, format: '%d/%m/%Y') %></span>
    </div>
    </div>

  <!-- Boutons d'action -->
  <div class="d-flex justify-content-evenly align-items-center mb-1">
    <% if @riderequest.user == current_user %>

      <%= link_to "Modifier la demande", edit_ride_request_path(@riderequest), class: "btn btn-primary" %>
    <% end %>
    <% if @riderequest.user != current_user && current_user.sloops.any?%>
      <%= link_to "Valider l'embarquement", new_ride_request_ride_path(@riderequest), class: "btn btn-primary" %>
    <% end %>
  </div>
    <hr>

    <div  style="height: 300px;">
      <div  style="height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
