<%= link_to chatroom_path(chat), class: "--text-deco-none" do %>
    <div class="card-cellchat">
    <%# Set le other_user en fonction de si le current user est le skiper ou le user %>
      <% other_user = current_user == chat.ride.skipper ? chat.ride.user : chat.ride.skipper %>
      <%# photo du other_user %>
      <%= cl_image_tag other_user.photo.key, class: "chatroompic", alt: "photo de profil" %>
      <div class="card-cellchat-infos">
      <%# recuperer le dernier message  %>
        <h2><%= other_user.first_name%></h2>
        <P class="message-content">
          <% if  chat.user_messages.empty?%>
              Il n'y a pas encore de message.
          <%elsif chat.user_messages.last.content.length > 45  %>
            <%= "#{chat.user_messages.last.content[0, 45]}..." %>
          <% else %>
            <%= chat.user_messages.last.content%>
          <% end %>
        </p>
      </div>
        <%# recuperer l'heure et la date du dernier message a l'aide de chatroom_id.updated_at , calculer la différence et afficher la diférence %>
      <% if  chat.user_messages.empty?%>
      <% else %>
        <div class="card-cellchat-time">
          il y a
          <p><%= distance_of_time_in_words(Time.now, chat.user_messages.last.updated_at) %></p>
        </div>
      <% end %>
    </div>
<% end %>
