<%= link_to chatrooms_path, class:"back-arrow" do %>
  <i class="fa-solid fa-angle-left fa-2xl" style="color: #08685E;"></i>
<% end %>
  <div class="chatbanner" style="background-image: url(<%= image_path "chatbanner.jpg" %>);">
    <h1>
      <% other_user = current_user == @chatroom.skipper ? @chatroom.user : @chatroom.skipper %>
      <%= link_to (cl_image_tag other_user.photo.key, class: "chatroompic", alt: "photo de profil"), user_path(other_user) %> <%= other_user.first_name %> <%= other_user.last_name %>
    </h1>
  </div>

<div class="container chat">

  <%= turbo_stream_from "chatroom_#{@chatroom.id}_user_messages" %>
  <div id="messages" class="messages">
    <% @chatroom.user_messages.each do |user_message| %>
      <%= render "user_messages/user_message", user_message: user_message, user: current_user %>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @user_message],
    html: {class: "d-flex chatwritebox",
          data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f|
  %>
    <% other_user = current_user == @chatroom.skipper ? @chatroom.user : @chatroom.skipper %>
    <%= f.input :content,
      label: false,
      placeholder: "Ecrire à #{other_user.first_name}",
      wrapper_html: {class: "flex-grow-1"},
      input_html: { class: "chatbox" }
    %>
    <%= button_tag  :submit, class: "btn btn-primary mb-3 chatsend" do %>
      <i class="fa-regular fa-paper-plane fa-lg" style="color: #FFF1D0;"></i>
    <% end %>
  <% end %>

</div>
