<div class="col-md-4 mb-4">
  <%= link_to ride_path(ride), style: "text-decoration: none; color: inherit;" do %>
    <div class="card-ride"> <!-- Utiliser la même classe que la carte riderequest -->
      <h2 class="mt-3"><%= ride.sloop.name %></h2>
      <div class="card-body"> <!-- Ajout de card-body pour uniformiser avec riderequest -->
      <% if ride.sloop.photos.any? %>
        <%= cl_image_tag ride.sloop.photos.first.key, class: "card-img-top fixed-map-size"%> <!-- Ajout de la classe pour la taille fixe -->
      <% else %>
        <img class="card-img-top fixed-map-size" src="default_image.jpg" alt="Default image"> <!-- Ajout de la classe pour la taille fixe -->
      <% end %>


      </div>

       <div class="travel_info ">
        <span><i class="avatar fa-solid fa-play"></i> <%= ride.start_port %></span>
        <span class="me-2"><%= l(ride.start_date, format: '%d/%m/%Y') %></span>
      </div>

      <div class="travel_info">
        <span><i class="avatar fa-solid fa-flag-checkered"></i> <%= ride.end_port %></span>
        <span class="me-2"><%= l(ride.end_date, format: '%d/%m/%Y') %></span>
      </div>

        <div class="travel_info">
          <span><i class="avatar  fa-solid fa-users"></i><%= ride.traveller_rides.accepted.size %> <%=  "voyageur".pluralize(ride.traveller_rides.accepted.size) %></span>

          <span><i class="  fa-solid fa-person-circle-exclamation"></i> <%= ride.capacity %> <strong class="me-2">MAX</strong></span>
        </div>

         <p class="card-text owner-text">
        <% if ride.sloop.user.photo.attached? %>
          <h3><%= ride.sloop.user.first_name %></h3><%= cl_image_tag ride.sloop.user.photo.key, class: "ride-avatar-position avatar-bordered", style: "width: 40px; height: 40px; border-radius: 50%;" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "ride-avatar-position avatar-bordered", style: "width: 40px; height: 40px; border-radius: 50%;" %>
        <% end %>
      </p>

      </div>
  <% end %>
    </div>
