<div class="col-md-4 mb-4">
  <%= link_to sloop_path(sloop), style: "text-decoration: none; color: inherit;" do %>
  <div class="card-sloop">
      <h2 class="mt-3"><%= sloop.name %></h2>
      <% if sloop.photos.any? %>
        <%= cl_image_tag sloop.photos.first.key, class: "card-img-top fixed-cover" %>
      <% else %>
        <%= image_tag "2065070_04609.jpg", alt: "Logo" %>
      <% end %>
        <div class=" d-flex justify-content-between mt-3 mx-2">
          <p>
            <%= image_tag "logo-sloop.png", class: "avatar-mini me-2", alt: "Logo" %><%= sloop.category %>
          </p>
          <p>
            <%= sloop.capacity %> places
            <i class="avatar  fa-solid fa-users fa-xl ms-2"></i>
          </p>
        </div>

    </div>
  <% end %>
</div>
