
<%# ##########Banner########################### %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <h1 id="hometitle"><%= image_tag "logo-sloop.png", class: "avatar" %> Blabla'Sloop</h1>
  <div class="container mt-5" id="banner-content">
    <strong><%= link_to "Vous avez un bateau", ride_requests_path, class: "btn btn-primary", id:"banner-bouton" %></strong>
  </div>
  <div class="container mt-5" id="banner-content">
    <strong><%= link_to "Vous cherchez un bateau", rides_path, class: "btn btn-primary", id:"banner-bouton" %></strong>
  </div>
</div>


<%# ########## purpose ########################### %>
<div class="container pb-0" id="home-content">
    <h2 class="mb-3 py-2", id="last_propal"><strong>Derniers voyages proposés</strong></h2>
    <%# aller dans la table ride %>
    <%# recuperer les 3 derniers proposer %>
    <%# afficher les 3 derniere ride %>
    <% @rides.each do |ride| %>
      <%= render 'shared/cardride', ride: ride %>
    <% end %>
<hr>
</div>
<div class="container pt-0" id="home-content">
    <h2 class="mb-3 py-2", id="last_ask"><strong>Derniers voyages demandés</strong></h2>
    <%# aller dans la table ride %>
    <%# recuperer les 3 derniers proposer %>
    <%# afficher les 3 derniere ride %>
    <% @rides_requests.each do |riderequest| %>
      <%= render 'shared/riderequestcard', riderequest: riderequest %>
    <% end %>
</div>
