
<%# ##########Banner########################### %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="container" id="banner-content">
    <h2><strong>Vous avez un bateau</strong>
    </h2>
    <strong><%= link_to "Voir les trajets demandés", ride_requests_path, class: "btn btn-primary", id:"banner-bouton" %></strong>
  </div>
  <div class="container mt-5" id="banner-content">
    <strong><%= link_to "Voir les trajets proposés", rides_path, class: "btn btn-primary", id:"banner-bouton" %></strong>
  </div>
</div>


<%# ########## purpose ########################### %>
<div class="container" id="home-content">
    <h2><strong>Derniers voyages proposés</strong></h2>
    <%# aller dans la table ride %>
    <%# recuperer les 3 derniers proposer %>
    <%# afficher les 3 derniere ride %>
    <% @rides.each do |ride| %>
      <%= render 'shared/cardride', ride: ride %>
    <% end %>
</div>
<div class="container" id="home-content">
    <h2><strong>Derniers voyages demandés</strong></h2>
    <%# aller dans la table ride %>
    <%# recuperer les 3 derniers proposer %>
    <%# afficher les 3 derniere ride %>
    <% @rides_requests.each do |riderequest| %>
      <%= render 'shared/riderequestcard', riderequest: riderequest %>
    <% end %>
</div>
