<div class="card card-body shadow-sm bg-white rounded">
  <!-- Infos principales de l'utilisateur -->
  <span class="d-flex justify-content-end m-2"><%= link_to "Éditer", edit_dashboard_path(current_user), class: "btn btn-info" %></span>
  <div class="">
    <div class="text-center">
      <%= cl_image_tag current_user.photo.key, height: 100, class: "profil-avatar", alt: "dropdown menu", radius: "max" %>
      <br>
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <span><em class="text-muted"><%= current_user.age %> ans</em></span>
      <ul class="list-inline ">
        <li class="list-inline-item bg-white"><i class="fa-regular fa-envelope"></i> <%= current_user.email %></li>
        <li class="list-inline-item bg-white"><i class="fa-solid fa-mobile-retro"></i> <%= current_user.phone_number %></li>
      </ul>
    </div>
  </div>
  <hr>
<!-- Détails de l'utilisateur -->
  <div class="text-start">
    <h2 class="">À propos</h4>
    <p><%= current_user.description %></p>
    <h4 class="lead">Préférences</h4>
    <p><%= current_user.preferences %></p>
  </div>
<!-- Sloops de l'utilisateur / Si existants -->
  <% if current_user.sloops.any? %>
    <h3 class="mb-4"> <%= pluralize(current_user.sloops.size, "Sloop") %> </h3>
    <div class="row">
    <% current_user.sloops.each do |sloop| %>
    <%= render "shared/sloopcard", sloop: sloop %>
      <% end %>
    </div>
  <% end %>
<!-- Les trajets proposés par l'utlisateur -->
  <% if current_user.rides.any? %>
  <% end %>
<!-- Les demandes de trajet de l'utlisateur -->
  <% if current_user.ride_requests.any? %>
  <% end %>
<!-- Commentaires sur l'utlisateur -->
  <% if current_user.received_reviews.any? %>
  <% end %>
</div>
