<div class="container bg-white">
  <!-- Infos principales de l'utilisateur -->
  <div class="text-center">
    <%= cl_image_tag current_user.photo.key, height: 175, class: "my-3", alt: "photo de profil", radius: "max" %>
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
    <span><%= current_user.age %> ans</span>
    <ul class="list-inline ">
      <li class="list-inline-item bg-white"><i class="fa-regular fa-envelope"></i> <%= current_user.email %></li>
      <li class="list-inline-item bg-white"><i class="fa-solid fa-mobile-retro"></i> <%= current_user.phone_number %></li>
    </ul>
  </div>
  <hr>
<!-- Détails de l'utilisateur -->
  <div class="text-start">
    <h4 class="">À propos</h4>
    <p class="border rounded-3 p-3"><%= current_user.description %></p>
    <h4 class="lead">Mes préférences</h4>
    <p class="border rounded-3 p-3"><%= current_user.preferences %></p>
    <div class="d-flex justify-content-between p-2">
    <%= link_to "Éditer mon profil", edit_dashboard_path(current_user), class: "btn btn-primary" %>
    <%= link_to "+ Sloop", new_sloop_path, class: "btn btn-primary" %>

    </div>
  </div>
<!-- Sloops de l'utilisateur / Si existants -->
  <% if current_user.sloops.any? %>
    <h3 class="mb-4"> <%= pluralize(current_user.sloops.size, "Sloop") %> </h3>
    <div class="row">
    <% current_user.sloops.each do |sloop| %>
    <%= render "shared/sloopcard", sloop: sloop %>
      <% end %>
    </div>
  <% end %>
<!-- Les trajets proposés par l'utlisateur -->
  <% if current_user.rides.any? %>
  <h3 class="mb-4"> <%= pluralize(current_user.rides.size, "Trajet") %> </h3>
    <div class="row">
    <% current_user.rides.each do |ride| %>
    <%= render "rides/cardride", ride: ride %>
      <% end %>
    </div>
  <% end %>
<!-- Les demandes de trajet de l'utlisateur -->
  <% if current_user.ride_requests.any? %>
  <% end %>
<!-- Commentaires sur l'utlisateur -->
  <% if current_user.received_reviews.any? %>
  <% end %>
</div>
