<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
    <h1 class="text-center mt-3">Mon tableau de bord</h1>
</div>
<div class="container mt-3">
  <% if current_user.skipper_traveller_rides.empty? && current_user.traveller_rides.empty? && current_user.rides.empty? %>
    <h4 class="text-center">Vous êtes perdu en mer ? <br><br> Pas de panique,<br> Vous n'avez pas encore de voyage !</h4>
    <div class="text-center mb-3">
      <%= image_tag "lost-in-sea.jpg", class: "avatar me-2", style: "width: 93%; height: 315px; border-radius: 5%;" %>
    </div>
    <div class="text-center">
      <%= link_to "Choisir votre prochaine navigation", root_path, class: "btn btn-primary" %>
    </div>
    <hr>
  <% end %>
  <% if current_user.skipper_traveller_rides.any? %>
    <div class="container mt-3">
      <h2 class="mb-3 py-2" id="last_propal"><%= current_user.rides.size == 1 ? "La demande pour mon voyage" : "Les demandes pour mon voyage" %></h2>
      <div class="row">
        <% current_user.skipper_traveller_rides.each do |traveller_ride| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5>Demande faite par <strong><%= traveller_ride.user.first_name %></strong>
                <% if traveller_ride.user.photo.attached? %>
                  <%= link_to (cl_image_tag traveller_ride.user.photo.key, class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;"), user_path(traveller_ride.user) %>
                <% elsif %>
                  <% link_to (image_tag "logo.png", class: "avatar me-2"), user_path(traveller_ride.user) %>
                <% end %>
                </h5>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-sailboat"></i> <%= traveller_ride.sloop.name %></span>
                </div>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-play"></i> <%= traveller_ride.ride.start_port %></span>
                  <span><%= l(traveller_ride.ride.start_date, format: '%d/%m/%Y') %></span>
                </div>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-flag-checkered"></i> <%= traveller_ride.ride.end_port %></span>
                  <span><%= l(traveller_ride.ride.end_date, format: '%d/%m/%Y') %></span>
                </div>
                <hr>
                <span><i class="avatar fa-regular fa-comments"></i> <%= traveller_ride.info %></span>
                <hr>
                <div class="text-center">
                  <% if traveller_ride.validate_status == "pending" %>
                    <%= simple_form_for(traveller_ride) do |f| %>
                      <%= f.input :validate_status, as: :hidden, input_html: { value: 'accepted'} %>
                      <%= f.button :submit, 'Valider', class:"btn btn-primary", id:"btn-dash" %>
                    <% end %>
                    <%= simple_form_for(traveller_ride) do |f| %>
                      <%= f.input :validate_status, as: :hidden, input_html: { value: 'refused'} %>
                      <%= f.button :submit, 'Refuser', class:"btn btn-info", id:"btn-dash" %>
                    <% end %>
                  <% elsif traveller_ride.validate_status == "accepted" %>
                    <span class='text-center'><i class="fa-solid fa-circle-check text-center text-success"></i> Demande de voyage <strong class="text-success">validée ! </strong></span>
                  <% else %>
                    <span class='text-center'><i class="fa-solid fa-xmark text-center text-danger"></i></i> Demande de voyage <strong class="text-danger">refusée ! </strong></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>

  <% if current_user.traveller_rides.any? %>
    <div class="container mt-3">
      <h2 class="mb-3 py-2" id="last_ask"><%= current_user.traveller_rides.size == 1 ? "Ma demande à un skipper" : "Mes demandes à des skippers" %></h2>
      <div class="row">
        <% current_user.traveller_rides.each do |traveller_ride| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5>Demande faite à <strong><%= traveller_ride.sloop.user.first_name %></strong>
                  <% if traveller_ride.sloop.user.photo.attached? %>
                    <%# <%= cl_image_tag traveller_ride.sloop.user.photo.key, class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;" > %>
                    <%= link_to (cl_image_tag traveller_ride.sloop.user.photo.key, class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;"), user_path(traveller_ride.sloop.user) %>
                  <% else %>
                    <%= image_tag "default_avatar.png", class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;" %>
                  <% end %>
                </h5>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-sailboat"></i> <%= traveller_ride.sloop.name %></span>
                </div>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-play"></i> <%= traveller_ride.ride.start_port %></span>
                  <span><%= l(traveller_ride.ride.start_date, format: '%d/%m/%Y') %></span>
                </div>
                <div class="travel_info">
                  <span><i class="avatar fa-solid fa-flag-checkered"></i> <%= traveller_ride.ride.end_port %></span>
                  <span><%= l(traveller_ride.ride.end_date, format: '%d/%m/%Y') %></span>
                </div>
                <hr>
                <span><i class="fa-regular fa-comments"></i> <%= traveller_ride.ride.details %></span>
                <hr>
                <div class="text-center">
                  <% if traveller_ride.validate_status == "pending" %>
                      <span><i class="fa-solid fa-hourglass-start text-center"></i> Demande de voyage <strong>en attente.</strong></span>
                  <% elsif traveller_ride.validate_status == "accepted" %>
                      <span><i class="fa-solid fa-circle-check text-center text-success"></i> Demande de voyage <strong class="text-success">validée !</strong></span>
                  <% else %>
                      <span><i class="fa-solid fa-xmark text-center text-danger"></i> Demande de voyage <strong class="text-danger">refusée !</strong></span>
                  <% end %>
                </div>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
  <!-- Les trajets proposés par l'utlisateur -->
  <% if current_user.rides.any? %>
  <div class="container mt-3">
    <h2 class="mb-3 py-2" id="last_propal"><%= current_user.rides.size == 1 ? "Mon voyage proposé" : "Mes voyages proposés" %></h2>
    <div class="row">
      <% current_user.rides.each do |ride| %>
        <%= render "shared/cardride", ride: ride %>
      <% end %>
    </div>
  </div>
  <hr>
  <% end %>
<!-- Les demandes de trajet de l'utlisateur -->
  <% if current_user.ride_requests.any? %>
    <div class="container mt-3">
      <h2 class="mb-3 py-2" id="last_ask"><%= current_user.ride_requests.size == 1 ? "Mon voyage demandé" : "Mes voyages demandés" %></h2>
      <div class="row">
        <% current_user.ride_requests.each do |riderequest| %>
          <%= render "shared/riderequestcard", riderequest: riderequest %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
