<div class="container">
  <h1 class="text-center mt-3">Vos demandes et propositions de Voyages</h1>
  <hr>
  <% if current_user.traveller_rides.any? %>
    <div class="container mt-3">
      <h2 class="mb-3">Les demandes de voyage pour mes Sloops</h2>
      <div class="row">
        <% current_user.traveller_rides.each do |traveller_ride| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Demandeur <strong><%= traveller_ride.user.first_name %></strong>
                  <% if traveller_ride.user.photo.attached? %>
                    <%= cl_image_tag traveller_ride.user.photo.key, class: "avatar" %>
                  <% elsif %>
                    <% image_tag "logo.png", class: "avatar" %>
                  <% end %>
                </h5>
                <%# <p>Pour mon Sloop <strong><%= traveller_ride.user.sloop.name ></strong></p> %>
                <p class="card-text"><strong><i class="fa-solid fa-play"></i> </strong> <%= traveller_ride.ride.start_date %></p>
                <p class="card-text"><strong><i class="fa-solid fa-flag-checkered"></i> </strong> <%= traveller_ride.ride.end_date %></p>
                <p class="card-text"><strong><i class="fa-regular fa-comments"></i> </strong> <%= traveller_ride.ride.details %></p>
                <hr>
                <% if traveller_ride.validate_status == "pending" %>
                  <div class="d-flex justify-content-center">
                      <%= link_to 'Valider la demande', dashboard_path(traveller_ride), data: { turbo_method: :patch }, class: "btn btn-primary" %>
                  </div>
                <% else %>
                  <div class="d-flex justify-content-center">
                      <p class="card-text"><i class="fa-solid fa-circle-check text-center text-success"></i> Demande de voyage est <strong>validée ! </strong></p>
                  </div>
                <% end %>
                <div class="d-flex justify-content-center">
                  <%= link_to 'Refuser la demande', dashboard_path(traveller_ride), data: { turbo_method: :delete }, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if current_user.traveller_rides.any? %>
    <br><hr>
    <div class="container mt-3">
      <h2 class="mb-3">Les demandes de voyage effectuées</h2>
      <div class="row">
        <% current_user.traveller_rides.each do |traveller_ride| %>
          <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h5 class="card-title">Demande faite à <strong><%= traveller_ride.user.first_name %></strong>
                  <% if traveller_ride.user.photo.attached? %>
                    <%= cl_image_tag traveller_ride.user.photo.key, class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;" %>
                  <% else %>
                    <%= image_tag "default_avatar.png", class: "avatar me-2", style: "width: 40px; height: 40px; border-radius: 50%;" %>
                  <% end %>
                </h5>
                <%# <p>Pour le Sloop <strong><%= traveller_ride.sloop.name ></strong></p> %>
                <p class="card-text"><strong><i class="fa-solid fa-play"></i> </strong> <%= traveller_ride.ride.start_date %></p>
                <p class="card-text"><strong><i class="fa-solid fa-flag-checkered"></i> </strong> <%= traveller_ride.ride.end_date %></p>
                <p class="card-text"><strong><i class="fa-regular fa-comments"></i> </strong> <%= traveller_ride.ride.details %></p>
                <hr>
                <% if traveller_ride.validate_status == "pending" %>
                    <p class="card-text"><i class="fa-solid fa-hourglass-start text-center"></i> Votre demande de voyage est <strong>en attente.</strong></p>
                <% else %>
                    <p class="card-text"><i class="fa-solid fa-circle-check text-center text-success"></i> Votre demande de voyage est <strong>validée !</strong></p>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <hr>
</div>
