<div class="container mt-4 mb-5">
  <h1><%= @sloop.name %></h1>
  <hr>
  <%= simple_form_for(@sloop) do |f| %>
    <%= f.input :name, label: 'Nom du Sloop' %>
    <%= f.input :category, label: "Catégorie" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :capacity, label: "Capacité de votageurs" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photo(s)" %>
    <%= link_to sloop_path
     f.button :submit, 'Éditer', class: "btn btn-primary"
    %>
  <% end %>
</div>
