<div class="container my-3">
  <h1>Votre nouveau Sloop</h1>
  <hr>
  <%= simple_form_for(@sloop) do |f| %>
    <%= f.input :name, label: 'Nom du Sloop'%>
    <%= f.input :category, label: 'Catégorie' %>
    <%= f.input :description, label: 'Description du Sloop' %>
    <%= f.input :capacity, label: 'Capacité voyageurs' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit 'Ajouter' , class:"btn btn-primary"%>
  <% end %>
</div>
