<div class="container mt-3">
  <div class="text-center mb-3">
    <h2><strong><%= @sloop.name %></strong></h2>
  </div>

  <div class="row h-100">
    <!-- Partie supérieure : Image et description -->
    <div class="col-md-12 mb-3"  >
      <div class="row ">
        <div class="col-md-6">
          <!-- Conteneur pour l'image de la chèvre -->
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <% @sloop.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= cl_image_tag photo.key, class: "img-fluid d-block w-100", style: "height: 450px; width: 100%; object-fit: cover; border-radius: 5px;" %>
                </div>
              <% end %>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Conteneur pour les détails de la chèvre -->
          <div class="card shadow-sm h-100" >
            <div class="card-body">
              <h3 class="card-title text-center"><strong>Informations sur le Sloop</strong></h3>
              <hr>
              <p class="mt-3">
                <% if @sloop.user.photo.attached? %>
                  <%= cl_image_tag @sloop.user.photo.key, class: "avatar me-3" %>
                <% else %>
                  <%= image_tag "default_avatar.png", class: "avatar me-3" %>
                <% end %>
                <%= @sloop.user.first_name %>
              </p>
              <hr>
              <p class="mt-3 ">
              <%= image_tag "logo-sloop.png", class: "avatar me-3", alt: "Logo" %><%= @sloop.category %>
              </p>
              <hr>
              <p class="mt-3">
                <i class="avatar fa-regular fa-comments fa-xl me-3"></i>
                <%= @sloop.description %>
              </p>
              <hr>
              <p class="mt-3">
              <%= @sloop.capacity %>
              </p>
            </div>
            <div class=" d-flex justify-content-evenly align-items-end mb-3 ">
              <% if @sloop.user == current_user %>
                <%= link_to "Modifier le Sloop", edit_sloop_path, class: "text-info text-decoration-none" %>
              <% end %>
              <%# Si je possède le sloop et qu'il n'a pas de rides, je peux le supprimer %>
              <% if current_user == @sloop.user && @sloop.rides.empty? %>
                <%= link_to "Supprimer",sloop_path(@sloop), data: { turbo_method: :delete }, class: "text-danger text-decoration-none" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
