<%= simple_form_for(@ride) do |f| %>
  <div data-controller="newride" data-newride-capacity-by-sloop-value="<%= @capacity_by_sloop.to_json %>">
    <%= f.input :sloop, collection: @sloops, label_method: :name, include_blank: true, input_html: { "data-newride-target": "sloop", "data-action": "change->newride#updateCapacity" } %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :capacity, input_html: { "data-newride-target": "capacity" } %>
    <%= f.input :details %>
    <%= f.input :start_port %>
    <%= f.input :end_port %>
    <%= f.submit 'Ajouter', class: "btn btn-primary" %>
  </div>
<% end %>


<%# flatpicker pour les dates %>
