<%= simple_form_for(@ride) do |f| %>
  <div data-controller="newride" data-newride-capacity-by-sloop-value="<%= @capacity_by_sloop.to_json %>">
    <%= f.association :sloop, label: "Choisissez votre bateau", collection: @sloops, label_method: :name, include_blank: true, input_html: { "data-newride-target": "sloop", "data-action": "change->newride#updateCapacity" } %>
    <%= f.input :start_date, as: :string,
      label: "Date de debut", input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string,
      label: "Date de fin", input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :capacity, input_html: { "data-newride-target": "capacity" } %>
    <%= f.input :details %>
    <%= f.input :start_port,  label: "Port de départ" %>
    <%= f.input :end_port,  label: "Port d'arrivée " %>
    <%= f.submit 'Ajouter', class: "btn btn-primary" %>
  </div>
<% end %>


<%# flatpicker pour les dates %>
