<div class="container mb-3">

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: rides_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Recherche"
          %>
        <%= submit_tag "Rechercher", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="cards mt-2">
    <div class="row">
      <div>
        <h1 class="display-4 text-center my-4">Tous les voyages proposés</h1>
        <div class="d-flex justify-content-evenly align-items-center mb-3">
          <% if current_user.sloops.exists? %>
            <%= link_to "Proposer un voyage", new_ride_path, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Enregistrer un bateau pour proposer un voyage", new_sloop_path, class: "btn btn-primary" %>
          <% end %>
        </div>
        <hr>
        <span class="mb-3 d-block"><em><%= "Aucune proposition de voyage disponible pour le moment." if @rides.empty? %></em></span>
        <span class="mb-3 d-block"><em><%= "#{pluralize(@rides.count, "Résultat(s)")}" if @rides.count  %></em></span>
      </div>
      <% @rides.each do |ride| %>
        <%= render "shared/cardride", ride: ride %>
      <% end %>
      <p><br></p>
    </div>
  </div>
</div>
