<div class="container mb-3">
  <div class="cards mt-2">
    <div class="row">
      <div>
        <h1 class="display-4 text-center my-4">Tous les voyages prévues</h1>
        <span class="mb-3 d-block"><em><%= "Aucune proposition de voyage disponible pour le moment." if @rides.empty? %></em></span>
        <span class="mb-3 d-block"><em><%= "#{pluralize(@rides.count, "résultat")}" if @rides.count  %></em></span>
      </div>
      <% @rides.each do |ride| %>
        <%= render "shared/cardride", ride: ride %>
      <% end %>
      <div>
       <% if current_user.sloops.exists? %>
          <%= link_to "Proposer un voyage", new_ride_path, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Enregistrer un bateau pour proposer un voyage", new_sloop_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <p><br></p>
    </div>
  </div>
</div>
