<div class="container mb-4">
  <%= render "shared/detailuser" %>

  <%# ################# formulaire de sloop de demande ############ %>
  <h2>Complétez les information avant de slooper la demande</h2>
  <%= simple_form_for([@ride_request, @ride]) do |f| %>
    <div data-controller="newride" data-newride-capacity-by-sloop-value="<%= @capacity_by_sloop.to_json %>">
      <%= f.input :sloop, label: "Choisissez votre bateau", collection: @sloops, label_method: :name, include_blank: true, input_html: { "data-newride-target": "sloop", "data-action": "change->newride#updateCapacity" } %>
      <%= f.input :start_date, as: :string,
        label: "Date de début (non modifiable)",  readonly: true %>
      <%= f.input :end_date, as: :string,
        label: "Date de fin (non modifiable)",  readonly: true  %>
      <%= f.input :capacity, input_html: { "data-newride-target": "capacity" } %>
      <%= f.input :details %>
      <%= f.input :start_port, label: "Port de départ (non modifiable)", readonly: true  %>
      <%= f.input :end_port,  label: "Port d'arrivée (non modifiable)", readonly: true %>
      <%= f.submit 'Ajouter', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


</div>
